@media only screen and (max-width: 800px) {

    main {
        min-width: 75%;
    }
    
    h1, #nav_btn h1 {
        font-size: 1em;
    }

    .nickname {
        display: none;
    }

    nav {
        min-width: 200px;
    }

    #nav_btn {
        min-width: 28%;
    }

    #nav_btn {
        transform: translateX(-75%);
        width: fit-content;
    }
    
    #nav_btn:hover,  #nav_btn:active {
        transform: translateX(0%);
    }

    #nav_btn img {
        position: relative;
        margin-left: auto;
        margin-right: 5%;
    }

    .profile_section {
        min-width: min-content;
    }

    .chat_input {
        margin-right: 1em;
    }

    .chat_input input {
        font-size: 0.8rem;
        height: fit-content;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #text_input {
        margin: 0;
        padding: 0;
    }

    #nickname {
        display: none;
    }
}