@media only screen and (max-width: 800px) {

    main {
        min-width: 75%;
        transition: ease 0.7s;
    }

    h1, #nav_btn h1 {
        font-size: 1em;
    }

    #profile_section {
        width: fit-content;
    }

    #log_in_button {
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        min-width: 200px;
    }

    #nav_btn {
        min-width: 28%;
    }

    #nav_btn {
        transform: translateX(-75%);
        width: fit-content;
    }
    
    #nav_btn:hover,  #nav_btn:active {
        transform: translateX(0%);
    }

    #nav_btn img {
        position: relative;
        margin-left: auto;
        margin-right: 5%;
    }

    #profile_section {
        min-width: min-content;
    }

    .chat_input {
        margin-right: 1em;
        width: 75%;
    }
}