/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Call with: font-family: 'Open Sans', sans-serif; */

/* Header */

@import url(CSS/header/header.css);

/* Login section */

@import url(CSS/login-section/login.css);

/* Register section */

@import url(CSS/register-section/register.css);

/* Contact panel */

@import url(CSS/contact-panel/contact-panel.css);

/* Main */

@import url(CSS/main/main-global.css);
@import url(CSS/main/chat-flow.css);
@import url(CSS/main/chat-inputs.css);

/* Global positioning */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.863);
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./Images/background_corners.png);
    background-repeat: no-repeat;
    background-size: 12em 12em;
    background-position: bottom 1em right 1em;
    background-attachment: fixed;
    overflow-y: hidden;
}

.corner_img {
    width: 2.2em;
    height: 2.2em;
    content: url(./Images/background_corners.png);
    display: block;
    bottom: 4px;
    z-index: 1;
}

.separation_line {
    width: 60vw;
    height: 1px;
    background-color: white;
    position: fixed;
    top: 15vh;
    left: 20vw;
    z-index: 10;
}


li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}